{
  "singleQuote": true,
  "semi": false,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": true,
  "jsxBracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 80,
  "bracketSpacing": true
}
