/* Font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* Other styling */

.graph {
  /* padding: 20px; */
  /* border: 1px #e1e4e8 solid; */
  /* margin: 20px; */
}

.days li:nth-child(odd) {
  visibility: hidden;
}

/* Charts */
.chart-loader {
  min-height: 25rem;
}

/* Tooltips */
.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 0.25rem 1rem;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* Markdown code blocks */
.control-modal code {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: #f4f5f7;
  color: #42389d;
  border-radius: 0.25rem;
}
