/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

/* Other styling */

.graph {
  /* padding: 20px; */
  /* border: 1px #e1e4e8 solid; */
  /* margin: 20px; */
}

.days li:nth-child(odd) {
  visibility: hidden;
}

/* Charts */
.chart-loader {
  min-height: 25rem;
}

/* Tooltips */
.tooltip .tooltip-text {
  visibility: hidden;
  text-align: center;
  padding: 0.25rem 1rem;
  position: absolute;
  z-index: 100;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}

/* Markdown code blocks */
.remediation-details p,
.validation-details p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.remediation-details p a,
.validation-details p a {
  font-weight: bold;
  text-decoration: underline;
}

.control-modal code,
.control-modal pre {
  font-size: 0.75rem;
  border-radius: 0.2rem;
}

.control-modal code {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-color: #e0e0e0;
  color: rgba(52, 58, 64, 1);
  font-family: 'Source Code Pro';
}

.control-modal pre,
.control-modal pre code {
  padding: 0.25rem;
  --bg-opacity: 1;
  background-color: rgba(37, 47, 63, var(--bg-opacity));
  --text-opacity: 1;
  color: rgba(141, 162, 251, var(--text-opacity));
}

.control-modal pre code {
  margin-left: -0.25rem;
}

.control-modal p code {
  padding-top: 0.05rem;
  padding-bottom: 0.05rem;
}

.control-modal ul {
  margin-left: 0.5rem;
}

.control-modal li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
